.divide-bar {
    margin-top: 10% !important;
    width: 100%;
}
.facebook-thumbnail {
    border:0;
    width: 24px;
    height: 24px;     
}
.google-thumbnail {
    border:0;
    width: 32px;
    height: 32px;     
}
.mat-facebook {
    background-color: #3B5998;
    color: #fff;
}
.mat-google {
    background-color: #fff;
    color: #000;
}

